<section class="logo">
    <span>League of legends fan website</span>
    <span>The place for everything about League of legends</span>
</section>

<section class="links">
    <ul class="site-info">
        <li>Home</li>
        <li>About us</li>
        <li>Contact</li>
        <li>Disclaimer</li>
    </ul> 
    <ul class="other">
        <li>Articles</li>
        <li>Videos</li>
        <li>Patch notes</li>
    </ul>
</section>
<section class="contact-info">
    <span class="email">
        contact.us@gmail.com
    </span>
    <span class="reserved">
        <i class='bx bx-copyright'></i> 2022 All rights reserved.
    </span>
</section>